$green: #00A9A6;

body {
  background: url(../../img/bg.png) #dedede;
  font-family: 'Roboto Condensed', sans-serif;
  color: #333;
}

.book {
  margin: 4em auto 0;
  max-width: 48em;
  &-cover {
    margin-bottom: 2em;
    @media (min-width: 600px) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
  }
  &-image-wrapper {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-right: 3%;
    margin-bottom: 2em;
    a {
      border: none;
      outline: none;
    }
  }
  &-image {
    width: 100%;
    height: auto;
    display: block;
  }
  &-meta {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  &-available {
    font-size: 1.5em;
    margin-bottom: .4em;
  }
  &-price {
    font-style: italic;
    margin-bottom: 1em;
    margin-top: 0;
  }
  &-purchase {
    display: inline-block;
    border: none;
    outline: none;
    font-size: 1.3em;
    background: $green;
    color: white;
    padding: .3em .5em;
    margin-bottom: 1em;
    text-decoration: none;
    &:hover {
      background: white;
      color: $green;
    }
  }
  &-title {
    text-transform: uppercase;
    margin: 0 0 .1em;
    font-size: 2.2em;
  }
  &-subtitle {
    margin: 0 0 .1em;
    font-size: 1.8em;
  }
  &-description {
    font-size: 1.2em;
  }
  &-chapter-link {
    display: block;
    text-decoration: none;
    color: $green;
    font-size: 1.2em;
    margin-bottom: .5em;
    text-shadow: 1px 1px 1px rgba(255,255,255,.4);
  }
  &-signup {
    #mc_embed_signup form {
      padding: 1em 2em;
      margin: 4em 0 0;
      background-color: rgba(255,255,255, .3);
      font-family: 'Roboto Condensed', sans-serif;
      color: #333;
    }
  }
}



.contact {
  &-email a{
    display: block;
    text-decoration: none;
    color: $green;
    font-size: 1.2em;
    margin-bottom: .5em;
    text-shadow: 1px 1px 1px rgba(255,255,255,.4);
  }
  &-twitter a{
    display: block;
    text-decoration: none;
    color: $green;
    font-size: 1.2em;
    margin-bottom: .5em;
    text-shadow: 1px 1px 1px rgba(255,255,255,.4);
  }
}
